<a href="https://colab.research.google.com/github/prasad-dash/DataAnalysis/blob/main/TCSInterimData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!wget https://www.bseindia.com/xml-data/corpfiling/AttachHis/0f58c131-c858-49a2-940c-6dc37ae935df.pdf

--2021-08-27 13:11:26--  https://www.bseindia.com/xml-data/corpfiling/AttachHis/0f58c131-c858-49a2-940c-6dc37ae935df.pdf
Resolving www.bseindia.com (www.bseindia.com)... 192.229.211.185, 2606:2800:21f:2c49:1674:6421:889f:6fc7
Connecting to www.bseindia.com (www.bseindia.com)|192.229.211.185|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12927904 (12M) [application/pdf]
Saving to: ‘0f58c131-c858-49a2-940c-6dc37ae935df.pdf’

0f58c131-c858-49a2- 100%[===================>]  12.33M   809KB/s    in 16s

2021-08-27 13:11:44 (791 KB/s) - ‘0f58c131-c858-49a2-940c-6dc37ae935df.pdf’ saved [12927904/12927904]

In [42]:
!sudo apt install build-essential libpoppler-cpp-dev pkg-config python3-dev
!pip install pdftotext

Reading package lists... Done
Building dependency tree
Reading state information... Done
build-essential is already the newest version (12.4ubuntu1).
pkg-config is already the newest version (0.29.1-0ubuntu2).
python3-dev is already the newest version (3.6.7-1~18.04).
python3-dev set to manually installed.
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
The following additional packages will be installed:
  libpoppler-cpp0v5
The following NEW packages will be installed:
  libpoppler-cpp-dev libpoppler-cpp0v5
0 upgraded, 2 newly installed, 0 to remove and 40 not upgraded.
Need to get 36.7 kB of archives.
After this operation, 188 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpoppler-cpp0v5 amd64 0.62.0-2ubuntu2.12 [28.0 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpoppler-cpp-dev amd64 0.62.0-2ubuntu2.12 [8,676 B]
Fetched 36.7 kB in 0s (91.6 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 2.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package libpoppler-cpp0v5:amd64.
(Reading database ... 148489 files and directories currently installed.)
Preparing to unpack .../libpoppler-cpp0v5_0.62.0-2ubuntu2.12_amd64.deb ...
Unpacking libpoppler-cpp0v5:amd64 (0.62.0-2ubuntu2.12) ...
Selecting previously unselected package libpoppler-cpp-dev:amd64.
Preparing to unpack .../libpoppler-cpp-dev_0.62.0-2ubuntu2.12_amd64.deb ...
Unpacking libpoppler-cpp-dev:amd64 (0.62.0-2ubuntu2.12) ...
Setting up libpoppler-cpp0v5:amd64 (0.62.0-2ubuntu2.12) ...
Setting up libpoppler-cpp-dev:amd64 (0.62.0-2ubuntu2.12) ...
Processing triggers for libc-bin (2.27-3ubuntu1.2) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

In [97]:
import pdftotext
with open("/content/0f58c131-c858-49a2-940c-6dc37ae935df.pdf", "rb") as f:
    pdf = pdftotext.PDF(f)
text=pdf[6]

In [98]:
text=text.split('\n')[6:]

In [99]:
Header=text[0:3]
text=text[3:]

In [101]:
del text[6:21]

In [104]:
del text[3]

In [106]:
text=text[:7]

In [ ]:
for i in range(len(text)):
  text[i]=text[i].split()

In [122]:
df

      Type    2020    2020    2019     2020     2019     2020
0  Revenue  42,015  40,135  39,854  120,472  117,003  156,949

In [109]:
for i,t in enumerate(text):
    print(i," ",t)

0   ['Revenue', '42,015', '40,135', '39,854', '120,472', '117,003', '156,949']
1   ['Other', 'income', '691', '914', '818', '2,203', '3,854', '4,592']
2   ['TOTAL', 'INCOME', '42,706', '41,049', '40,', '67Z', '122,675', '120,857', '161,541']
3   ['Employee', 'benefit', 'expenses', '23,431', '22,665', '21,622', '68,189', '63,901', '85,952']
4   ['Fees', 'to', 'external', 'consultants', '3,230', '3,047', '3,268', '9,340', '9,741', '12,937']
5   ['Other', 'operating', 'expenses', '2,750', '2,644', '3,633', '8,190', '10,792', '14,046']
6   ["'TOTAL", 'EXPENSES', '30,831', '29,620', '29,880', '89,7Z5', '88,448', '118,369']

In [144]:
import pandas as pd   
df = pd.DataFrame([text[0]], columns =['Type', 'December 312020','September 30 2020','December 31, 2019','December 31 2020','December 31 2019','March 3 2020'])

In [145]:
df.loc[len(df)]=text[6]

In [146]:
df

       Type December 312020  ... December 31 2019 March 3 2020
0   Revenue          42,015  ...          117,003      156,949
1  EXPENSES          30,831  ...           88,448      118,369

[2 rows x 7 columns]

In [147]:
df.iloc[0,[1,6]]

December 312020     42,015
March 3 2020       156,949
Name: 0, dtype: object

In [148]:
df.iloc[1,[1,6]]

December 312020     30,831
March 3 2020       118,369
Name: 1, dtype: object